.content__owl {
  display: none !important;
}

@media only screen and (max-width: 991px) {
  .content__owl {
    display: block  !important;
  }
}

.content__owl .content__box--owl {
  border-bottom: none;
  display: block;
  cursor: pointer;
  text-align: center;
}

.content__owl .content__box--owl img {
  display: inline-block !important;
  width: 50% !important;
}

.content__owl .content__list--owl {
  list-style: none;
  padding: 0;
}

.content {
  position: absolute;
  z-index: 2;
  background: #fff;
  height: 100%;
  overflow-y: scroll;
  width: 40%;
}

@media only screen and (max-width: 991px) {
  .content {
    width: 100% !important;
    overflow-y: hidden;
    position: relative;
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 40%;
  }
}

.content__box {
  border-bottom: 2px solid #717375;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .content__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 991px) {
  .content__box {
    display: none;
  }
}

.content__list {
  list-style: none;
}

.contry__form {
  position: relative;
  display: inline-block;
}

.contry__input {
  border: 1px solid #717375;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contry__input:focus {
  outline: none;
  border: 1px solid #717375;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contry__input option:focus {
  outline: none;
}

.contry__box--title {
  font-size: 24px;
  display: inline-block;
  padding: 0 20px 0 0;
}

.main {
  margin-top: 25px;
  border: 1px solid #717375;
  position: relative;
}
/*# sourceMappingURL=style.css.map */