@import "./abstract/varable";
@import "./abstract/mixim";
@import "./components/owl";
@import "./components/content";
@import "./components/form";
.main {
  margin-top: 25px;
  border: 1px solid $color-grey;
  position: relative;
}

