@mixin respond($breakpoint) {

  @if $breakpoint==mini-phone {
    @media only screen and (max-width: 400px) {
      @content
    }

    ;
  }

  @if $breakpoint==phone {
    @media only screen and (max-width: 670px) {
      @content
    }

    ;
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 991px) {
      @content
    }

    ;
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 1200px) {
      @content
    }

    ;
  }

  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 1800px) {
      @content
    }

    ;
  }
}