.content {
    position: absolute;
    z-index: 2;
    background: $color-white;
    height: 100%;
    overflow-y: scroll;
    width: 40%;
  
  
    @include respond(tab-port) {
      width: 100% !important;
      overflow-y: hidden;
      position: relative;
    }
  
    @include respond(tab-land) {
      width: 40%;
    }
  
    &__box {
      border-bottom: 2px solid $color-grey;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;
  
      @include respond(tab-land) {
        justify-content: space-between;
      }
      @include respond(tab-port) {
        display: none;
      }
    }
  
    &__list {
      list-style: none;
    }
  
  }