.contry__form {
    position: relative;
    display: inline-block;

}

.contry__input{
    border: 1px solid $color-grey;
    box-shadow: none;
    &:focus{
        outline: none ;
        border: 1px solid $color-grey;
        box-shadow: none;
    }

    option{
        &:focus{
            outline: none;
        }
    }
}

.contry__box {
    &--title {
        font-size: 24px;
        display: inline-block;
        padding: 0 20px 0 0
    }

}