.content__owl {
    display: none !important;

    @include respond(tab-port) {
      display: block  !important;
    }

    .content__box--owl {
      border-bottom: none;
      display: block;
      cursor: pointer;
      text-align: center;

      img{
        display: inline-block !important;
        width: 50% !important;
      }
    
    }

    .content__list--owl{
      list-style: none;
      padding: 0;

    }

    

  }